<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartPlatform Footer</title>

    <style>
        body {
            margin: 0;
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        footer {
            background-color: #131419;
            text-align: center;
            color : #6c757d;
            font-weight: 300;
            font-style: normal;
            padding: 10px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>    
    <footer>
        <p>2024 @ made by 방해금지모드</p>
    </footer>
</body>
</html>
