:root {
    --background: #131419;
    --container: #f2f2f2;
    --list: #fff;
    --text: #131419;
    --accent1: #FAFFAF;
    --accent2: #96C9F4;
    --accent3: #3FA2F6;
    --accent4: #0F67B1;
}

@font-face {
    font-family: 'EF_jejudoldam';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ef_chuckchuck';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/ef_chuckchuck.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'EF_jejudoldam';
    background-color: var(--background);
    color: var(--text);
    text-align: center;
}

.container {
    width: 100%;
    background-color: var(--container);
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: var(--accent4);
    margin-bottom: 10px;
    text-align: center;
}

.day-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
}

.day-button {
    flex: 0 0 auto;
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0 2px;
    background-color: var(--container);
    color: var(--text);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: 'ef_chuckchuck';
    font-size: 14px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.day-button:hover {
    background-color: var(--accent3);
    color: #fff;
}

.day-button.active {
    background-color: var(--accent3);
    color: var(--container);
}

#routine-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.routine-item {
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.routine-time {
    font-weight: bold;
    color: #333;
}

.routine-name {
    font-size: 1.1em;
    margin: 10px 0;
}

.routine-action {
    color: #666;
}

ul {
    list-style-type: none;
    padding: 0;
}

#routine-list li {
    list-style-type: none;
    padding: 5px 5px;
    margin-bottom: 2px;
    background-color: #fff;
    border-radius: 5px;
    font-size: 15px;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

#routine-list li span {
    flex: 1; /* 각 span이 동일한 너비를 가지도록 설정 */
    padding: 0 5px; /* 좌우 패딩 추가 */
}

#routine-list li .routine-time {
    flex: 0 0 50px; /* 시간 열의 너비를 고정 */
    text-align: center;
}

#routine-list li .routine-name {
    flex: 2; /* 루틴 이름에 더 많은 공간 할당 */
}

#routine-list li .routine-action {
    flex: 1;
    text-align: center;
}

.routine-action.대기중 { color: #333333; }
.routine-action.성공 { color: #008000; }
.routine-action.실패 { color: #FF0000; }

#no-routine-message {
    color: var(--accent4); /* 메시지 색상 */
    font-family: 'EF_jejudoldam';
    font-size: 15px;
}

#no-title-message {
    color: var(--accent4); /* 메시지 색상 */
    font-family: 'EF_jejudoldam';
    font-size: 15px;
}

.button {
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 1px solid var(--accent2);
    background-color: var(--accent2);
    transition: all 0.3s;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.button .buttontext {
    color: #fff;
    font-weight: 600;
    font-family: 'ef_chuckchuck';
}

.button .buttonicon {
    position: absolute;
    right: 0px;
    height: 100%;
    width: 40px;
    background-color: var(--accent3);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    transition: all 0.3s;
}

.button .svg {
    width: 24px;
    height: 24px;
    stroke: var(--accent2);
}

.button:hover {
    background-color: var(--accent2);
}

.button:hover .buttontext {
    color: transparent;
}

.button:hover .buttonicon {
    width: 148px;
    right: 0;
}

.button:active {
    border: 1px solid var(--accent3);
}

.button:active .buttonicon {
    background-color: var(--accent3);
}

#routine-list,
#title-list {
    min-height: 200px;
    max-height: 300px;
    height: 300px;
    width: 90%;
    overflow-y: auto;
    background-color: var(--list);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

#routine-list:empty, #title-list:empty {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--container);
}

#routine-list:empty::after {
    content: "오늘의 루틴이 없습니다.";
}

#title-list:empty::after {
    content: "획득한 칭호가 없습니다.";
}

.routine-section,
.title-section {
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title-container {
    display: flex;
    justify-content: space-between;
}

.title-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 48%; /* 좌우 리스트 사이에 약간의 간격을 둡니다 */
}

.title-item {
    cursor: pointer;
    padding: 8px 12px;
    margin-bottom: 8px;
    background-color: transparent;
}

.title-item:active {
    color: var(--accent4);
}

body::-webkit-scrollbar, #routine-list::-webkit-scrollbar, #title-list::-webkit-scrollbar { /* 스크롤바 없애기 */
    display: none;  /* WebKit */
}

/* 루틴 선택 */
.radio-inputs2 {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    flex-wrap : wrap;
    margin: auto;
}

.radio-inputs2 > * {
    margin: 6px;
    flex-basis: calc(33.333% - 12px);
}
  
.radio-input:checked + .radio-tile {
    border-color: #2260ff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #2260ff;
}

    .radio-input:checked + .radio-tile:before {
    transform: scale(1);
    opacity: 1;
    background-color: #2260ff;
    border-color: #2260ff;
    }

    .radio-input:checked + .radio-tile .radio-icon svg {
    fill: #2260ff;
}
  
  .radio-input:checked + .radio-tile .radio-label {
    color: #2260ff;
  }
  
  .radio-input:focus + .radio-tile {
    border-color: #2260ff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
  }
  
  .radio-input:focus + .radio-tile:before {
    transform: scale(1);
    opacity: 1;
  }
  
  .radio-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
    min-height: 80px;
    border-radius: 0.5rem;
    border: 2px solid #b5bfd9;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: 0.15s ease;
    cursor: pointer;
    position: relative;
  }
  
  .radio-tile:before {
    content: "";
    position: absolute;
    display: block;
    width: 0.75rem;
    height: 0.75rem;
    border: 2px solid #b5bfd9;
    background-color: #fff;
    border-radius: 50%;
    top: 0.25rem;
    left: 0.25rem;
    opacity: 0;
    transform: scale(0);
    transition: 0.25s ease;
  }
  
  .radio-tile:hover {
    border-color: #2260ff;
  }
  
  .radio-tile:hover:before {
    transform: scale(1);
    opacity: 1;
  }
  
  .radio-icon svg {
    width: 2rem;
    height: 2rem;
    fill: #494949;
  }
  
  .radio-label {
    color: #707070;
    transition: 0.375s ease;
    text-align: center;
    font-size: 13px;
  }
  
  .radio-input {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }