{% extends 'layouts/layout.html' %}

{% block title %} 유온 Your Own {% endblock %}
{% block styles %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/Platform/home.css') }}">
{% endblock %}

<!-- 내용 추가 -->
{% block content %}
<main>
    <div class="button-grid">
        <button class="large-button" onclick="location.href='account' "></button>
        <button class="robot-btn"></button>
        <button class="routine-btn" onclick="location.href='routine' "></button>
        <div class="user-profile">
                <div class="profile-image-container">
                    {% if encoded_profile_picture %}
                    <img src="data:image/jpeg;base64,{{ encoded_profile_picture }}" alt="User Profile" class="profile-image">
                    {% else %}
                    <img src="{{ url_for('static', filename='../src/default-profile-img.png') }}" alt="Default Profile Image" class="profile-image">
                    {% endif %}             
                </div>
                <p class="profile-name">{{ current_user.Username }}</p>
                <div class="user-title-container">
                    <span class="first-name">{{ current_user.user_profile[0].FirstName}}</span>
                    <span class="second-name">{{ current_user.user_profile[0].LastName }}</span>
                </div>
        </div>
        <a href="{{url_for('views.error')}}"><button class="wait-btn"></button></a>
        <a href="{{url_for('views.donotdisturb')}}"><button class="teamintro-btn"></button></a>
        <a href="{{url_for('views.introdeveloper')}}"><button class="developintro-btn"></button></a>
        <a href="{{url_for('views.introservice')}}"><button class="serviceintro-btn"></button></a>
    </div>
</main>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/Platform/home.js') }}"></script>
{% endblock %}