{% extends 'layouts/layout.html' %}

{% block title %} 유온 YourOwn {% endblock %}
{% block styles %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/Platform/home.css') }}">
{% endblock %}

<!-- 내용 추가 -->
{% block content %}
<div class="grid">
    <div class="user-profile">
        <div class="profile-image-container">
            {% if encoded_profile_picture %}
            <img src="data:image/jpeg;base64,{{ encoded_profile_picture }}" alt="User Profile" class="profile-image">
            {% else %}
            <img src="{{ url_for('static', filename='src/default-profile-img.png') }}" alt="Default Profile Image" class="profile-image">
            {% endif %}            
        </div>
        <div class="user-info">
            <div class="user-name-container">
                <p class="profile-name">{{ current_user.Username }}</p>
            </div>
            <div class="user-title-container">
                <span class="first-name">{{ current_user.user_profile[0].FirstName}}</span>
                <span class="second-name">{{ current_user.user_profile[0].LastName }}</span>
            </div>
        </div>
    </div>
    <div class="Today_card">
        <div class="date-container">
            <span id="date"></span>
            <span id="weekday"></span>
        </div>
    </div>
    <button class="profile-setting" onclick="location.href='account'">
        <p>Profile<br>Setting</p>
    </button>
    <button class="routine-btn" onclick="location.href='routine' ">
        <span class="text">Smart Routine</span>
    </button>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/Platform/home.js') }}"></script>
{% endblock %}