<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>유온 로그인</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/Platform/login.css') }}">
</head>
<body>
<div class="wrapper">
  <div class="container">
    <div class="sign-up-container">
      <form method="POST" action="/auth/register">
        <h1>계정 만들기</h1>
        <div class="social-links">
          <div>
            <a hre="{{url_for('auth.google_login')}}"><i class="fa fa-google" aria-hidden="true"></i></a>
          </div>
        </div>
        <span>직접 입력하거나 구글 계정으로 빠르게 가입하세요!</span>
        <input type="text" name="name" placeholder="Name">
        <div class="input-container">
          <input type="text" name="join_id" id="join_id" placeholder="ID(특수문자 X, 6자 이상)" style="width: 100%;">
          <button type="button" id="checkIdBtn">중복확인</button>
        </div>
        <span class="material-icons icon" id="idCheckIcon"></span>
        <div id="idFeedback" class="feedback"></div>
        <input type="password" name="join_pwd" id="join_pwd" placeholder="PWD(8~20자, 문자/숫자/특수문자)">
        <div id="pwdFeedback" class="feedback"></div>
        <input type="date" name="birth" min="1900-01-01" id="birthDate" required>
        <input type="tel" name="phone" oninput="hypenTel(this)" maxlength="13" placeholder="Phone">
        <input type="email" name="email" placeholder="email">
        <div class="postcode-container">
          <input type="text" name="postcode" id="sample6_postcode" disabled placeholder="우편번호">
          <input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기">
        </div>
        <input type="text" name="address" id="sample6_address" ≈ placeholder="주소">
        <input type="text" name="address2" id="sample6_detailAddress" placeholder="상세주소">
        <input type="text" name="address3" id="sample6_extraAddress" disabled placeholder="참고항목">
        <button class="form_btn">회원가입</button>
      </form>
    </div>
    <div class="sign-in-container">
      <form method="POST" action="/auth/login">
        <h1>로그인</h1>
        <div class="social-links">
          <div>
            <a href="{{ url_for('auth.google_login')}}"><i class="fa fa-google" aria-hidden="true"></i></a>
          </div>
        </div>
        <span>로그인하거나 구글 계정으로 빠르게 로그인하세요!</span>
        <input type="text" placeholder="ID" name="id" />
        <input type="password" placeholder="Password" name="password" />
        <button class="form_btn">로그인</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay-left">
        <h1>처음 오셨나요?</h1>
        <p>
          회원가입하고, <br>
          유온과 함께해요! <br>
          유온을 당신을 기다리고 있어요.
        </p>
        <button id="signIn" class="overlay_btn">계정이 있어요</button>
      </div>
      <div class="overlay-right">
        <h1>어서오세요!</h1>
        <p>
          유온의 도움이 필요하신가요? <br>
          어서 유온에 접속하세요!
        </p>
        <button id="signUp" class="btn-open-modal">계정이 없어요</button>
        <!-- <button id="signUp" class="overlay_btn">Sign Up</button> -->
      </div>
    </div>
  </div>
</div>

<!-- 개인정보동의 모달 -->
<div class="modal" id="termsOfUseModal">
  <div class="modal_body">
      <h2>이용약관</h2>
      <div class="modal_content">
        <pre id="termsOfUseContent">내용을 불러오는 중...</pre>
      </div>

      <h2>개인정보 처리방침</h2>
      <div class="modal_content">
        <pre id="personalInformationContent">내용을 불러오는 중...</pre>
      </div>
      
      <div>
        <button type="button" class="submit_modal"> 전체 동의</button>
        <button type="button" class="close_modal">취소</button>
      </div>
  </div>
</div>

<script src="{{ url_for('static', filename='js/Platform/login.js') }}"></script>
<!-- Kakao postcode API -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</body>
</html>
