<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neumorphism Example</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/SmartRoutine/routine.css') }}">

</head>
<body>
    <div class="container">
        <h1 class="title">Neumorphism Style Example</h1>
        <div class="card">
            <div class="card-inner">
                <p>This is a simple example of neumorphism style.</p>
                <button class="btn">Click Me</button>
            </div>
        </div>
    </div>
</body>
</html>
