:root {
    --background: #131419;
    --container2: #313236;
    --container: #f2f2f2;
    --list: #fff;
    --text: #131419;
    --accent1: #FAFFAF;
    --accent2: #96C9F4;
    --accent3: #3FA2F6;
    --accent4: #0F67B1;
}

@font-face {
    font-family: 'EF_jejudoldam';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body{
    margin: 0;
    font-family: 'EF_jejudoldam';
    color: var(--background);
    text-align: left;  
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

/* 버튼 그리드 */
.grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
    padding: 0px 20px 10px 30px;
    margin: 10px;
}

@keyframes gentleShake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    75% { transform: translateX(5px); }
}

/* 사용자 프로필 */
.user-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s ease;
    grid-column: 1 / span 2;
    grid-row: 1;
}
.profile-image-container {
    display: inline-block;
    width: 90px;
    height: 90px;
    border: solid;
    border-color: var(--container);
    border-width: 5px;
    border-radius: 30%;
    overflow: hidden;
    margin-right: 50px; /* 이미지와 텍스트 사이의 간격 조절 */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    animation: gentleShake 0.5s ease-in-out;
}
.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    flex-grow: 1;
}
.user-name-container {
    display: flex;
    align-items: center;
}
.profile-name {
    font-family: 'EF_jejudoldam';
    font-size: 22px;
    font-weight: 600;
    color: var(--container);
    margin: 0;
    letter-spacing: 0.5px;
}
.first-name, .second-name {
    font-size: 14px;
    display: inline-block;
    margin: 0 2px;
    color: var(--container);
    font-family: 'Pretendard-Regular';
}

.Today_card {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'EF_jejudoldam';
    background-color: var(--accent2);
    border-radius: 20px;
    padding: 20px;
    color: var(--background);
    grid-column: 1;
    grid-row: 2;
    transform-style: preserve-3d;
    transition: 300ms all ease-in;
    animation: gentleShake 0.5s ease-in-out;
    animation-delay: 0.1s;
}
.date-container {
    display: flex; /* Flexbox 사용 */
    flex-direction: column; /* 세로 정렬 */
    align-items: center; /* 수평 가운데 정렬 */
}
#date {
    text-align: center;
    color: var(--list);
    text-shadow: 0px 1px 5px#131419;
    padding-bottom: 5px;
    font-size: 28px;
}
#weekday {
    text-align: center;
    color: var(--list);
    text-shadow: 0px 1px 5px#131419;
    font-size: 20px
}

/* 프로필 관리 네비게이션 버튼 */
.profile-setting {
    font-family: 'EF_jejudoldam';
    border-radius: 20px;
    padding: 20px;
    color: var(--container);
    grid-column: 2;
    grid-row: 2;
    background-color: var(--container2);
    justify-content: center;
    display: inline-block;
    box-shadow: none; /* 그림자 제거 */
    border: none;
    animation: gentleShake 0.5s ease-in-out;
    animation-delay: 0.2s;
}

p {
    font-size: 20px;
}

/* 스마트루틴 서비스 네비게이션 버튼 */
.routine-btn {
    padding: 20px;
    background-color: var(--container2);
    color: var(--background);
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    grid-column: 1 / span 2;
    grid-row: 3 / span 4;
    height: 20em;
    box-shadow: none; /* 그림자 제거 */
    border: none; /* 테두리 제거 */
    animation: gentleShake 0.5s ease-in-out;
    animation-delay: 0.3s;
}
.routine-btn:hover {
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.text {
    text-align: center;
    font-family: 'EF_jejudoldam';
    color: var(--container);
    text-shadow: 0px 1px 5px#131419;
    padding-bottom: 5px;
    font-size: 28px;
}

